$white: #eaeaea;
$bodyLight: #fafafa;
$secondaryText: rgba($white, 0.75);
$grey: #7c7c7c;
$borderLight: #b4b4b4;
$body: #0a192f;
$blue: #005bfc;
$red: #cf3636;
$yellow: #fde13f;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    font-size: 14px;
}

body {
    background-color: $body;
    color: $white;
    transition: all 0.3s ease;
}

main {
    min-height: 70dvh;
}

.container {
    max-width: 90%;
    margin: auto;
}

input,
textarea {
    padding: 0.5rem 0.75rem;
    background: none;
    border: 1px solid $grey;
    color: $white;
    border-radius: 0.25rem;
    resize: none;
    font-size: 0.9rem;
}

// Footer

.footer {
    padding: 1rem 0;
    border-top: 1px solid $grey;
    text-align: center;
    color: $white;
    font-size: 14px;
}

// Header

.header {
    padding: 0.75rem 0;
    border-bottom: 1px solid $grey;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $body;
    transition: all 0.3s ease;

    &__right {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-weight: 600;
    }

    &__brand {
        font-size: 1.5rem;

        span {
            color: $blue;
        }

        a {
            text-decoration: none;
            color: $white;
        }
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logout {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem;
        border-radius: 0.25rem;
        background-color: lighten($body, 5%);
    }
}

// Note

.note {
    margin-top: 100px;

    &-input {
        &__title {
            margin-top: 1rem;
            margin-bottom: 0.5rem;
            font-size: 3rem;
            font-weight: 700;
            border-radius: 0.25rem;
            padding: 0 0.25rem;
            border: 1px solid $borderLight;
        }

        &__body {
            color: $secondaryText;
            text-align: justify;
            margin-top: 0.5rem;
            line-height: 1.5;
        }
    }

    &__status {
        display: inline-flex;
        font-size: 12px !important;
        border: 1px solid $blue;
        color: $blue !important;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        margin-top: 0.5rem;
    }

    &__container {
        h2 {
            margin-bottom: 1rem;
        }
    }

    &-detail {
        margin-top: 100px;
        margin-bottom: 50px;

        ol,
        ul {
            margin-left: 2rem;
        }

        &__body {
            margin-top: 0.5rem;
            font-size: 1rem;
            line-height: 1.5;
        }

        &__container {
            h1 {
                margin-top: 1rem;
                font-size: 3rem;
            }

            p {
                margin-top: 1rem;
                text-align: justify;
                line-height: 1.5;
                color: $secondaryText;
            }

            span {
                font-size: 14px;
                color: $grey;
            }
        }
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        nav {
            background-color: lighten($body, 5%);
            padding: 0.5rem;
            border-radius: 0.5rem;

            ul {
                align-items: stretch;
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                li {
                    a {
                        display: flex;
                        text-align: center;
                        height: 100%;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }

        ul {
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    color: $white;
                    font-weight: 600;
                    padding: 0.5rem 1rem;
                    border-radius: 0.25rem;
                    transition: all 0.3s ease;

                    &.active {
                        background-color: $blue;
                    }
                }
            }
        }
    }

    &-list {
        margin-bottom: 5rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    &-item {
        border: 1px solid $grey;
        border-top: 5px solid $grey;
        border-radius: 0.25rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        transition: all 0.3s ease;
        text-decoration: none;

        &:hover {
            border: 1px solid $white;
            background-color: lighten($color: $body, $amount: 5%);
        }

        &__title {
            width: 100%;
            color: $white;
        }

        &__body {
            padding: 1rem;
        }

        &__date {
            margin: 0.25rem 0;
            font-size: 12px;
            color: $grey;
        }

        &__content {
            color: $secondaryText;
            font-size: 14px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            line-height: 1.3;
        }

        &__action {
            margin-top: auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            > * {
                background: none;
                color: $white;
                outline: none;
                border: 1px solid $grey;
                padding: 0.5rem 0;
                cursor: pointer;
                font-weight: 600;
                transition: all 0.3s ease;

                &:nth-child(1) {
                    color: $red;
                    border-radius: 0 0 0 5px;

                    &:hover {
                        background-color: $red;
                        color: $white;
                    }
                }

                &:nth-child(2) {
                    color: $yellow;
                    border-radius: 0 0 5px 0;

                    &:hover {
                        background-color: $yellow;
                        color: $body;
                    }
                }
            }
        }
    }
}

.floating-button {
    z-index: 999;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    gap: 1rem;

    button {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        background-color: $blue;
        border: none;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background-color: darken($blue, 20%);
        }

        svg {
            width: 2rem;
            height: 2rem;
            color: white;
        }
    }
}

.btn-primary {
    background-color: $blue;
    width: 100%;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-weight: 600;
    color: $white;
    outline: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: darken($color: $blue, $amount: 10%);
    }
}

.btn-delete {
    background-color: $red !important;
}

.input {
    &-group {
        display: flex;
        flex-direction: column;
        font-weight: 600;
        font-size: 14px;
        gap: 0.25rem;
        margin-bottom: 1rem;
    }
}

.message-empty {
    grid-column: span 4;
    text-align: center;
    color: $grey;
}

.characters-left {
    font-weight: 400;
    margin-left: auto;
    font-size: 12px;
}

// Sweetalert
.swal2-popup,
.swal2-success-circular-line-right,
.swal2-success-circular-line-left,
.swal2-success-fix {
    background: lighten($color: $body, $amount: 5%) !important;
    color: $white !important;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    background-color: $blue;
}

.btn-unarchive {
    background: #df9f16 !important;
}

.btn-language {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;

    img {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.btn-link {
    background: none;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: $white;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        color: $blue;
    }

    svg {
        width: 1rem;
        height: 1rem;
    }
}

.btn-logout {
    background: none;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: $white;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        color: $blue;
    }

    svg {
        width: 1.25rem;
        height: 1.25rem;
    }
}

.btn-theme {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;

    svg {
        width: 1.5rem;
        height: 1.5rem;
        color: $white;
    }
}

.btn-save {
    background: $blue !important;
    outline: none;
    border: none;
    cursor: pointer;

    svg {
        width: 1.5rem;
        height: 1.5rem;
        color: $white;
    }
}

.btn-edit {
    background-color: #16b0df !important;
}

.searchbar {
    display: flex;
    align-items: center;
    width: auto;
    margin: 1rem 0;
    margin-bottom: 2rem;
    width: 100%;
    border: 1px solid $grey;
    border-radius: 0.25rem;
    padding: 0 0.5rem;
    padding-right: 0;

    input[type='search'] {
        border: none;
        width: 100% !important;

        &:focus {
            outline: none;
        }
    }

    svg {
        width: 1rem;
        height: 1rem;
    }
}

.pages-info {
    letter-spacing: 0.25rem;
    font-weight: 600;
    color: $blue !important;
}

// Jodit Editor

.jodit-status-bar {
    background-color: $body;
    color: $white;
}

.jodit-status-bar-link {
    color: $white !important;
}

.jodit-icon {
    fill: $white;
}

.jodit-toolbar__box:not(:empty):not(:empty) {
    background-color: $body;
    color: $white !important;
}

.jodit-wysiwyg {
    background-color: $body;

    ol,
    li {
        color: $secondaryText;
    }
    p {
        margin-top: 0;
    }
}

.jodit-popup__content {
    background-color: $body;
    color: $white;

    .jodit-ui-button__text {
        color: $white;
        font-weight: 600;
    }
}

.notfound__container {
    min-height: 50dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 3rem;
    }

    p {
        margin-top: 0.25rem;
        color: $secondaryText;
        margin-bottom: 1rem;
    }

    a {
        display: inline-block;
        width: auto;
        text-decoration: none;
    }
}

.loader {
    width: 64px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: $blue;
    --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 20dvh;
    }
}

.login,
.register {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        border-radius: 1rem;
        background-color: lighten($body, 5%);
        width: 90%;

        p {
            font-size: 0.9rem;

            a {
                text-decoration: none;
                color: $blue;
                font-weight: 600;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        input,
        input:valid {
            background: lighten($body, 5%) !important;
        }
    }
}

@keyframes l3 {
    to {
        transform: rotate(1turn);
    }
}

@import './responsive';
@import './light-mode';
